!  ██     ██
! ░░██   ██
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░
!SETTINGS
URxvt*font:     xft:Terminus:style=bold:pixelsize=12
Emacs.FontBackend: x,xft
Emacs.font:     Terminus-12
!colors
!
!vert
*color1: #609E66
*color2: #52C56D
*color5: #4FBE87
*color9: #609E66
*color10: #52C56D
*color13: #4FBE87
!jaune
*foreground: #E3DE93
*cursor: #E3DE93
*color3: #B8B06F
*color6: #B2BA8D
*color7: #E3DE93
*color11: #B8B06F
*color14: #B2BA8D
*color15: #E3DE93
!bleu
*background: #01182C
*color0: #01182C
*color4: #6F7584
*color12: #6F7584
! gris
*color8: #666666

!URXVT SETTINGS
!URxvt*dynamicColors: on
URxvt.internalBorder: 50
URxvt*lineSpace: 2
URxvt*scrollBar: false
URxvt*scrollColor: #131415
URxvt.geometry: 80x18
URxvt*saveLines: 1000
URxvt*cursorUnderline: false
URxvt*cursorColor: #E3DE93
URxvt*cursorBlink: true
URxvt*underlineColor: #303030
URxvt*allow_bold: true
URxvt.letterSpace: -2

!PERL
URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*perl-ext-common : default,matcher
URxvt.urlLauncher:          chromium

!CLICKABLE LINKS
!URxvt*url-launcher: ewww
URxvt*matcher.button: 1

!MISC
Xcursor*theme:          pixelfun
Xcursor*size:           16
XTerm*scrollBar:        false
XTerm*rightScrollBar:   false
XTerm*dynamicColors: true
XLogo*geometry:         150x150
Xclock*geometry:        150x150-0-0
Xclock*background:      #121314



! Solarized theme
! !-------------------------------------------------------------------------------
! ! Xft settings
! !-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

